p{
	font-size: 15.5px;
	margin-top: 10px;
	margin-bottom: 18px;
	line-height:1.55em;
}


.container_project{
	margin: auto;
	max-width: 90%;
	padding-top: 7%;
	padding-bottom: 5%;

}

.entry {
	max-width: 100%;
	margin: 50px 0 40% 0;
	padding-bottom:400px;
}

.time_stamp {
	max-width: 100%;
	display: block;
}

.blog_content{
	max-width: 100%;
}


@media (min-width: 800px) {

.container_project{
	max-width: 90%;
}

.blog_content{
	margin-top: -60px;
	}

.time_stamp {
	max-width: 25%;
	display: block;
}

.blog_content{
	max-width: 65%;
	float:right;
	margin-right: 10%;
	margin-top: -47px;
}

@media (min-width: 1000px) {

p{

	font-size: 15px;

}

.container_project{
	max-width: 80%;
}

.blog_content{
	max-width: 65%;
	float:right;
	margin-right: 10%;
	margin-top: -5.5

	%;
}

}


@media (min-width: 1175px) {

.container_project{
	max-width: 80%;
}

.blog_content{
	margin-top: -60px;
	}

.time_stamp {
	max-width: 25%;
	display: block;
}

.blog_content{
	max-width: 65%;
	float:right;
	margin-right: 10%;
	margin-top: -60px;
}

}
