
body{
	font-size: 16px;
	margin: 0;

}


h1{
	font-family: "acumin-pro-condensed",sans-serif;
	font-size:3.157em;
	font-weight: 700;
	margin-top: .5em;
	margin-bottom:0.1em;
	color: #ffd633;
}

h2{
	font-family: "acumin-pro-condensed",sans-serif;
	font-size:2.396em;
	font-weight: 400;
	margin-top: 0em;
	margin-bottom:0em;
	color: #232323;
}

h3{
	font-family: "acumin-pro-condensed",sans-serif;
	font-size:1.777em;
	font-weight: 400;
	color: #232323;
	margin-top: 20px;
	margin-bottom: 3px;

}

h4{
	font-family: "acumin-pro-condensed",sans-serif;
	font-size:1.333em;
	font-weight: 400;
	color: #232323;
	margin-top: 3px;
	margin-bottom: 3px;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #232323;
	margin-top: 8px;
}

li{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #232323;
	list-style-type: none;
}

.container {
	margin: auto;
	max-width: 675px;
	padding-top: 50px;

}

.img_hero {
	background-image:url("images/km_large.jpg");
	background-position: 31.75% 0%;	
	background-repeat: no-repeat;
}

.shape {
	width: 225px;
	height: 39px;
	background-color: #ffd633;
	top: 37%;
	left: 26.75%;
	position: absolute;
}

.nav {
	background-color:#232323;
	height: 40px;

}

.intro {
	background-color: #fafafa; 
	padding-top: 2%;
	padding-bottom: 4%;
}

.intro_text{
	margin-left: 46%;
	max-width: 375px;	
}

.item {
	padding-top: 20px;

}


a:link{
	text-decoration: underline;
	color: #232323;
	font-family: 'Open Sans', sans-serif;
}

a:visited {
    text-decoration: none;
    color:#000000;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: underline;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

a:active {
    text-decoration: underline;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 550px) {

	body{
	font-size: 15px;
}

	h1{
	font-size:2.441em;
	margin-top: .5em;
	margin-bottom:0.05em;
}
	h2{
	font-size:1.953em;
}
	h3{
	font-size:1.563em;
	padding-top: 15px;
}
	h4{
	font-size:1.25em;
}
	p{
	margin-top: 8px;
	margin-bottom: 16px;
}

	.container {
	margin: auto;
	max-width: 100%;
	padding-top: 25px;
}
	.img_hero {
	background-image:url("images/km_500.jpg");
	background-position: 50% 74%;
	width: 100%;
}

	.resume{
	margin-left: 4.5%;
	max-width: 100%;

}
	.shape {
	width: 500px;
	top: 95%;
	left: 4.5%;
	position: absolute;
}
	.intro {
	max-width: 100%;
	padding-bottom: 65%;

}
	.intro_text{
	margin-left: 4.5%;
	max-width: 90%;	
}
	.item {
	max-width: 90%;

}