
body{
	font-size: 16px;
	margin: 0;
	text-rendering: optimizeLegibility;
}

h1{
	font-family: "acumin-pro-condensed",sans-serif;
	font-weight: 700;
	font-size: 2.66em;
	margin-bottom: 0px;
	color: #ffd633;
}

h2{
	font-family: "acumin-pro-condensed",sans-serif;
	font-size:1.999em;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #232323;
}

h3{
	font-family: "acumin-pro-condensed",sans-serif;
	font-size:1.66em;
	padding-top: 15px;
	font-weight: 400;
	color: #232323;
	margin-top: 20px;
	margin-bottom: 3px;
}

h4{
	font-family: "acumin-pro-condensed",sans-serif;
	font-size:1.33em;
	font-weight: 400;
	color: #232323;
	margin-top: 1px;
	margin-bottom: 1px;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #232323;
	margin-top: 8px;
	margin-bottom: 30px;
}


li{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #232323;
	list-style-type: none;
}


.container {
	margin: auto;
	max-width: 85%;
	padding-top: 2%;
}

.button {
	margin-top: 16px;
  	padding: 12px;
  	color: #fff;
  	background-color: #232323;
  	text-decoration:none;
  	border: solid #232323 2px;
}

.header{
	font-weight: 700;
}

.yellow_header{
	font-weight: 700;
	color:#ffd633
}
.project{
	max-width: 100%;
	padding-top: 5%;
}

.project_image{
	max-width: 500px;
	padding-top: 5%;
}

.desktop_image{
	display: block;
	max-width: 150px;
	height: auto;
	margin-top: -28px;
}

.nav {
	background-color:#232323;
	height: 40px;
 	position: fixed;
 	top: 0;
 	width: 100%;
 	font-family: 'Lato', sans-serif;
 	font-weight: 700;
 	z-index: 289;
}

.intro {
	padding-top: 2%;
	padding-bottom: 4%;
}

.introbackground{
	background-color: #f7f7f7; 
	padding-top: 20px;
	padding-bottom: 35px;

}

.intro_text{
	margin-top: 10%;
}

.project_container{
	margin-bottom: 75px;
}


.project_image_a{
	background-image: url("images/family.jpg");
	max-width: 50%;
}

.aboutbackground{
	background-color: #232323; 
	margin-top: 8%;
	padding-top: 1%;
	padding-bottom: 10%;
}

.about h3{
	color: #fff;
}

.about h4{
	color: #ffd633;
	margin-top: 5px;
}

.about p{
	color: #fff;
}

a:link{
	text-decoration: none;
	font-weight: 600;
	color: #232323;
	font-family: 'Open Sans', sans-serif;
}

a:visited {
    text-decoration: none;
    color:#000000;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
	text-decoration: underline;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

a:active {
	text-decoration: underline;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color:#000;
}


.button:visited{
	text-decoration: none;
	color: #232323;
	background-color: #fff;
	font-weight: 400;
	border: solid #232323 2px;
}

.button:hover{
	text-decoration: none;
	color: #fff;
	background-color: #232323;
	font-weight: 400;
}

.social_icons{
	padding-left: 0px
}

.fa {
	color: #fff;
	float: left;
	margin-top: 0px;
	margin-right: 25px;
	margin-bottom: 40px;
	margin-left: 0px;
}

.fa:hover {
	color: #ffd633;
}

.footer {
	background-color:#232323;
	height: 40px;
}

@media (min-width: 625px) and (max-width: 744px) {

	
p{
	margin-top: 8px;
	margin-bottom: 20px;
}

.container {
	margin: auto;
	max-width: 85%;
	padding-top: 20px;
}

.desktop_image{
	display: block;
	float: left;
	max-width: 200px;
	height: auto;
	margin-top: -35px;
}
	
.resume{
	max-width: 100%;
}

.projects{
	max-width: 100%;
}

.intro_text{
	margin-left: 45%;
	max-width: 50%;	
	margin-top: -3%;

}
	
.item {

}
}
@media (min-width: 750px) and (max-width: 874px){

p{
	margin-top: 8px;
	margin-bottom: 30px;
}

.intro_text{
	margin-top: 10%;
}

.container {
	margin: auto;
	max-width: 85%;
	padding-top: 20px;
	margin-right: 25px;
	margin-left: 25px;
}

.desktop_image{
	display: block;
	float: left;
	margin-left: 5%;
	max-width: 225px;
	height: auto;
	margin-top: -40px;
}

.project{
	max-width: 50%;
	padding-top: 10%;
	margin-left: 6%;
}

.project_image{
	max-width: 50%;
	padding-top: 10%;
}

.intro_text{
	margin-left: 50%;
	max-width: 50%;	
	margin-top: -3%;
}

.aboutbackground{
	background-color: #232323; 
	padding-top: 1%;
	padding-bottom: 8%;
}
	
.about{
	margin-left: 6%;
}

}
@media (min-width: 875px) and (max-width: 1174px) {


body{
	font-size: 16.5px;
}

p{
	margin-top: 8px;
	margin-bottom: 30px;
}

.container {
	max-width: 70%;
	margin: auto;
}

.project{
	max-width: 50%;
	padding-top: 10%;
}

.project_image{
	max-width: 45%;
	padding-top: 10%;
}

.desktop_image{
	display: block;
	float: left;
	margin-top: -56px;
	max-width: 250px;
	height: auto;
}

.introbackground{
	padding-top: 40px;
	padding-bottom: 80px;
}

.intro_text{
	margin-left: 46%;
	max-width: 60%;	
	margin-top: -2%;

}

}

@media (min-width: 1175px) {

body{
	font-size: 16.5px;
}

p{
	margin-top: 8px;
	margin-bottom: 30px;
}

.container {
	max-width: 57%;
	margin: auto;
}

.button {
}

.project{
	max-width: 50%;
	padding-top: 10%;
}

.project_image{
	max-width: 45%;
	padding-top: 15%;
}

.desktop_image{
	display: block;
	float: left;
	margin-top: -60px;
	max-width: 255px;
	height: auto;
	margin-right: 3%;
}

.introbackground{
	padding-top: 40px;
	padding-bottom: 70px;
}

.intro_text{
	margin-left: 43%;
	max-width: 60%;
	margin-top: -5%;}
}

.aboutbackground{
	background-color: #232323; 
	padding-top: 1%;
	padding-bottom: 5%;
}
}

