
.project{
	max-width: 100%;
	padding-top: 5%;
}

.project_image{
	max-width: 500px;
	padding-top: 5%;
}

.project_container{
	margin-bottom: 75px;
}


.project_image_a{
	background-image: url("images/family.jpg");
	max-width: 50%;
}

.button {
	margin-top: 22px;
  	padding: 12px;
  	color: #232323;
  	background-color: #fff;
  	text-decoration:none;
  	border: solid #232323 2px;
}

.button:visited {
	text-decoration: none;
	color: #232323;
	background-color: #fff;
	font-weight: 400;
	border: solid #232323 2px;
}
.button:hover{
	text-decoration: none;
	color: #fff;
	background-color: #232323;
	font-weight: 400;
}
.social_icons{
	padding-left: 0px
}

.fa {
	color: #fff;
	float: left;
	margin-top: 0px;
	margin-right: 25px;
	margin-bottom: 40px;
	margin-left: 0px;
}

.fa:hover {
	color: #ffd633;
}


@media (min-width: 625px) and (max-width: 744px) {

	
p{
	margin-top: 8px;
	margin-bottom: 35px;
}

.projects{
	max-width: 100%;
}

}
@media (min-width: 750px) and (max-width: 874px){

p{
	margin-top: 8px;
	margin-bottom: 30px;
}

.project{
	max-width: 50%;
	padding-top: 10%;
}

.project_image{
	max-width: 50%;
	padding-top: 10%;
}

}
@media (min-width: 875px) and (max-width: 1174px) {


body{
	font-size: 16.5px;
}

p{
	margin-top: 8px;
	margin-bottom: 30px;
}

.project{
	max-width: 50%;
	padding-top: 10%;
}

.project_image{
	max-width: 45%;
	padding-top: 10%;
}

}

@media (min-width: 1175px) {

body{
	font-size: 16.5px;
}

p{
	margin-top: 8px;
	margin-bottom: 30px;
}

.container {
	max-width: 50%;
	margin: auto;
}

.project{
	max-width: 50%;
	padding-top: 10%;
}

.project_image{
	max-width: 45%;
	padding-top: 15%;
}

}

