
.container_portfolio {

	margin: auto;
	max-width: 85%;
	padding-top: 7%;
	padding-bottom: 5%;
}


.project_container{
	margin-bottom: 12%;
}


.button {
	margin-top: 15%;
	margin-bottom: 15%;
  	padding: 12px;
  	color: #232323;
  	background-color: #fff;
  	text-decoration:none;
  	border: solid #232323 2px;
}

.button:visited {
	text-decoration: none;
	color: #232323;
	background-color: #fff;
	font-weight: 400;
	border: solid #232323 2px;
}
.button:hover{
	text-decoration: none;
	color: #fff;
	background-color: #232323;
	font-weight: 400;
}
.social_icons{
	padding-left: 0px
}

.fa {
	color: #fff;
	float: left;
	margin-top: 0px;
	margin-right: 25px;
	margin-bottom: 40px;
	margin-left: 0px;
}

.fa:hover {
	color: #ffd633;
}
}
@media (min-width: 625px) and (max-width: 744px) {

	
p{
	margin-top: 8px;
	margin-bottom: 35px;
}

.container_portfolio {
	margin: auto;
	max-width: 80%;
	padding-top: 5%;
	padding-bottom: 9%;
}

.project{
	max-width: 100%;
}

.project_title{
	max-width: 100%;
	padding-top: 10%;
}

.project_description{
	max-width: 100%;
}


}
@media (min-width: 750px) and (max-width: 874px){

p{
	margin-top: 8px;
	margin-bottom: 30px;
}

.container_portfolio {
	margin: auto;
	max-width: 85%;
	padding-top: 4%;
	padding-bottom: 7%;
}

.project{
	max-width: 100%;
}

.project_title{
	max-width: 50%;
	padding-top: 10%;
}

.project_description{
	max-width: 50%;
}


}
@media (min-width: 875px) and (max-width: 1174px) {


body{
	font-size: 16.5px;
}

p{
	margin-top: 8px;
	margin-bottom: 30px;
}

.container_portfolio{
	max-width: 70%;
	margin: auto;
	padding-top: 3%;
	padding-bottom: 5%;
}

.project{
	max-width: 100%;
}

.project_title{
	max-width: 50%;
	padding-top: 10%;
}

.project_description{
	max-width: 50%;
}

}

@media (min-width: 1175px) {

body{
	font-size: 16.5px;
}

p{
	margin-top: 8px;
	margin-bottom: 30px;
}

.container_portfolio {
	max-width: 60%;
	margin: auto;
}

.project{
	max-width: 100%;
}

.project_title{
	width: 45%;
	padding-top: 10%;
}

.project_description{
	left: 0px;
	width: 45%;
	float: right;
	margin-top:-75px;
	vertical-align: text-top;
	clear:left;
}

}

