
body{
	font-size: 16px;
	margin: 0;
	text-rendering: optimizeLegibility;
}

h1{
	font-family: "acumin-pro-condensed",sans-serif;
	font-size: 2.097em;
	font-weight: 600;
	margin-top: 0px;
	margin-bottom:0px;
	color: #0E001C;
}

h2{
	font-family: "acumin-pro-condensed",sans-serif;
	font-size:2.097em;
	font-weight: 400;
	color: #0E001C;
	margin-top: 0%;
	margin-bottom: 3%;
}

h3{
	font-family: "acumin-pro-condensed",sans-serif;
	font-size:1.638em;
	font-weight: 600;
	color: #0E001C;
	margin-top: 5%;
	margin-bottom: 0%;
}

h4{
	font-family: "acumin-pro-condensed",sans-serif;
	font-size:1.28em;
	font-weight: 600;
	color: #0E001C;
	margin-top: 0%;
	margin-bottom: 0%;
}

h4.callout{
	font-weight: 400;
	margin-top: 0%;
	color: #47434F;
}

h5{
	font-family:"acumin-pro-condensed",sans-serif;
	font-size: 1.15em;
	color: #0E001C;
	font-weight: 400;
	margin-top: 0%;
	margin-bottom: 0%;
}


}

p{
	font-family:'Source Sans Pro', sans-serif;
	font-size: 1em;
	color: #0E001C;
	font-weight: 400;
	margin-bottom: 3%;
}

ul{
	list-style: none;
    padding-left: 0;
    margin-top: 7px;
}

li{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #0E001C;
	list-style-type: none;
    line-height: 1.5em;
}

.span_image{
	max-width: 80%;
	display: block;
    margin: 20px auto 20px auto; 
}

.container_img{
	margin: auto;
	max-width: 100%;
}

.container_full_bleed{
	max-width: 100%;
}

.header{
	font-weight: 700;
}

.title{
	font-weight: 700;
}

.container_project{

	margin: auto;
	max-width: 85%;
	padding-top: 7%;
	padding-bottom: 5%;
}

.container_footer{
	margin: auto;
	max-width: 85%;
}

.desktop_image{
	display: block;
	max-width: 150px;
	height: auto;
	margin-top: 0px;
}

.nav {
	background-color:#261933;
	height: 40px;
}

.intro {
	padding-top: 12%;
	padding-bottom: 7%;
}

.intro_descrip {
	max-width: 100%;
}

.aside {
	padding-left: 0%;
	padding-top: 5px;
}

.introbackground{
	background-color: #f7f7f7; 
	padding-top: 20px;
}

.item {
	padding-top: 20px;
}

.button {
	margin-top: 22px;
  	padding: 12px;
  	color: #261933;
  	background-color: #fff;
  	text-decoration:none;
  	border: solid #261933 2px;
}

.button:visited {
	padding: 12px;
	text-decoration: none;
	color: #261933;
	background-color: #fff;
	font-weight: 400;
}

.button:hover{
	padding: 14px;
	text-decoration: none;
	color: #fff;
	background-color: #261933;
	font-weight: 400;
}

.content{
	margin-top: 2%;
}

.full_image {
    max-width: 100%;
    display: block;
    margin: 5px auto 5px auto; 
}

.stack_image{
	max-width: 64%;
	float: right;
	display: block;
}

.side_image{
	max-width: 34%;
	display: block;
	margin-top: 0px;
	margin: 15px 5px 15px 0px;
}

.side_align_image{
	max-width: 80%;
	float: right;
	display: block;
	margin-top: 0px;
	margin: 15px 5px 15px 0px;
}

.split_image{
	max-width: 80%;
	float: left;
	display: block;
	margin-top: 0px;
	margin: 0px 5px 12px 0px;
}

.next_project{
	margin: 6% 0% 6% 0%;
	padding: 6% 0% 6% 0%;
}

.footer{
	padding: .5% 0% 5% 0%;
	background-color: #ffd632;
}

a:link{
	text-decoration: none;
	font-weight: 600;
	color: #261933;
	font-family: 'Source Sans Pro', sans-serif;
}

a:visited {
    text-decoration: none;
    color: #261933;
    font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
	text-decoration: underline;
    font-family: 'Source Sans Pro', sans-serif;
    color: #261933;
}

a:active {
	text-decoration: underline;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color:#000;
}

.nav a:link{
	text-decoration: none;
	color: #fff;
	font-family: "acumin-pro-condensed",sans-serif;
	font-weight: 400;
	padding-right: 15px;
}

.nav a:hover {
	text-decoration: underline;
    font-weight: 400;
    font-family: "acumin-pro-condensed",sans-serif;
    color:#ffd333;
}

.nav a:active {
	text-decoration: underline;
    font-weight: 400;
    font-family: "acumin-pro-condensed",sans-serif;
    color:#fff;
}


.social_icons{
	padding-left: 0px
}

@media (min-width: 625px) and (max-width: 699px){

h1{
	font-size: 1.75em;
}

h2{
	font-size: 1.75em;
}

h3{
	font-size: 1.38em;
}

h4{
	font-size: 1.15em;
}


.container_project{
	margin: auto;
	max-width: 80%;
	padding-top: 5%;
	padding-bottom: 9%;
}


.container_footer{
	margin: auto;
	max-width: 80%;
}

.desktop_image{
	display: block;
	float: left;
	max-width: 200px;
	height: auto;
	margin-top: -35px;
}

.intro_descrip {
	max-width: 74%;
	float: left;
}

.aside {
	padding-left: 75%;
}

.intro {
	max-width: 100%;
	padding-bottom: 2%;
}

.intro_text{
	margin-left: 45%;
	max-width: 50%;	
	margin-top: -1%;
}

.split_image{
	max-width: 80%;
	float: left;
	display: block;
	margin-top: 0px;
	margin: 15px 5px 15px 0px;
}

#dash_med{
	display:none;
}

#dash_small{
	display:block;
}
	
} 

@media (min-width: 700px) and (max-width: 854px){

.container_project {
	margin: auto;
	max-width: 80%;
	padding-top: 4%;
	padding-bottom: 4%;
}

.container_footer{
	margin: auto;
	max-width: 80%;
}

.intro_descrip {
	max-width: 74%;
	float: left;
}

.aside {
	padding-left: 75%;
}

.desktop_image{
	display: block;
	float: left;
	max-width: 225px;
	height: auto;
	margin-top: -5px;
}

.about{
	max-width: 100%;
	margin: auto;
	margin-left: 30px;
}

.aboutbackground{
	padding-bottom: 7%;
}


.intro_text{
	margin-left: 48%;
	max-width: 50%;	
	margin-top: -1%;
}

.split_image{
	max-width: 80%;
	float: left;
	display: block;
	margin-top: 0px;
	margin: 15px 5px 15px 0px;
}

.footer{
	padding: 0% 0% 16% 0%;
}

#dash_small{
	display:none;
}
}

@media (min-width: 855px) and (max-width: 1055px) {

body{
	font-size: 17px;
}

.container_project {
	max-width: 67%;
	margin: auto;
	padding-top: 3%;
	padding-bottom: 2%;
}

.container_footer{
	margin: auto;
	max-width: 67%;
}

.container_img{
	margin: auto;
	max-width: 75%;
}


.desktop_image{
	display: block;
	float: left;
	margin-top: -45px;
	max-width: 250px;
	height: auto;
}

.intro_descrip {
	max-width: 74%;
	float: left;
}

.aside {
	padding-left: 75%;
}


.about{
	max-width: 100%;
}

.introbackground{
	padding-top: 40px;
	padding-bottom: 10px;
}

.intro_text{
	margin-left: 48%;
	max-width: 60%;	
	margin-top: -1%;
}

.aboutbackground{
	padding-bottom: 6%;
}

.full_image {
    margin: 15px auto 15px auto; 
}


.split_image{
	max-width: 49%;
}

.footer{
	padding: 0% 0% 14% 0%;
}

#dash_small{
	display:none;
}

}

@media (min-width: 1056px) {


body{
	font-size: 18.5px;
}

p{
	margin-top: 8px;
	margin-bottom: 16px;
}

img {
    height: auto;
    max-width: 640px;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

img.expanded {
    max-width: 950px;
    vertical-align: middle;
}

.container_project {
	max-width: 54%;
	margin: auto;
	padding-top: 2%;
	padding-bottom: 0%;
}

.container_footer{
	margin: auto;
	max-width: 54%;
}

.container_img{
	margin: auto;
	max-width: 75%;
}

.intro_descrip {
	max-width: 74%;
	float: left;
}

.aside {
	padding-left: 75%;
}

.desktop_image{
	display: block;
	float: left;
	margin-top: 0px;
	max-width: 255px;
	height: auto;
	margin-right: 3%;
}

.aboutbackground{
	padding-bottom: 5%;
}

.introbackground{
	padding-top: 20px;
}

.intro_text{
	margin-left: 48%;
	max-width: 60%;
	margin-top: 1%;}
}

.full_image {
	max-width: 100%;
    margin: 30px auto 15px auto; 
}

.split_image{
	max-width: 49%;
}

.footer{
	padding: 0% 0% 14% 0%;
}

#dash_small{
	display:none;
}
}